trigger:
  branches:
    include:
      - main

variables:
  imageName: simple-node-app

stages:
# =============================
# 1️⃣ Build and Push Docker Image
# =============================
- stage: Build
  displayName: 'Build and Push Docker Image'
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      inputs:
        command: 'buildAndPush'
        repository: '$(imageName)'
        dockerfile: '**/Dockerfile'
        containerRegistry: 'sc_container_registry'
        tags: |
          latest

# =============================
# 2️⃣ Deploy to AKS
# =============================
- stage: Deploy
  displayName: 'Deploy to AKS'
  dependsOn: Build
  jobs:
  - job: Deploy
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Kubernetes@1
      inputs:
        connectionType: 'Azure Resource Manager'
        azureSubscription: 'kebernetescn'
        azureResourceGroup: 'my-aks-rg'
        kubernetesCluster: 'aks-demo'
        namespace: 'default'
        command: 'apply'
        useConfigurationFile: true
        configuration: 'k8s/deployment.yaml'





          
